header {
    background: #7B1FA2;
    color: white;
    text-align: left;
    padding: 20px;
}

footer {
    background: #6A1B9A;
    color: white;
    text-align: left;
    padding: 10px;
}

.answer-letter {    
    border: 1px solid gray;
    margin: 10px;
    width: 40px;
    height: 40px;
    vertical-align: middle;
    text-decoration: none;
    display: inline-block;
}

.ansver-puzzle{
    border: 1px solid black;
    padding: 20px;
}

ul{
    margin-bottom: 0 !important;
}

#block-answer {
    display: none;
}

#answer-correct {
    color: green;
    display: none;
    font-size: 16px;
}

#answer-inCorrect {
    color: red;
    display: none;    
    font-size: 16px;
}

/* .ans-correct {
    display: inline;
    background: lightgreen;
}

.ans-incorrect {
    display: inline;
    background: lightcoral;
} */

footer {
    margin-top: 30px;
}