body {
	background-color: #B2FF59;
}

footer {
	color: #fff;
}

.main-windows {
	background-color: #CCFF90;
	margin: 70px;
	padding: 30px;
}


a {
	text-decoration: none !important;
}



/* Small devices (tablets, 768px and up) */
@media (min-width: @screen-sm-min) { }

/* Medium devices (desktops, 992px and up) */
@media (min-width: @screen-md-min) { }

/* Large devices (large desktops, 1200px and up) */
@media (min-width: @screen-lg-min) { }