body {
	background-color: #009688;
}

footer {
	color: #fff;
}

.main-quotes-windows {
	margin: 70px;
	padding: 30px;
	border: 15px double #ffffff;
}
	#quote-fon {
		background-color: transparent;
	}

.btn-new-qu {
	border: 7px outset;
	padding: 15px;
	box-shadow: 0 0 10px rgba(0,0,0,0.5);
	color: #ffffff;
}

.btn-new-qu:hover {	
	box-shadow: 0 0 20px rgba(0,0,0,0.5);
	font-weight: bold;
	color: #ffffff;
}

.btn-twt:hover {
	opacity: 0.7;
}

a {
	text-decoration: none !important;
}

.start-quotation {
	font-size: 150px;
	color: #ffffff;
	position: relative;
}

/* Small devices (tablets, 768px and up) */
@media (min-width: @screen-sm-min) { }

/* Medium devices (desktops, 992px and up) */
@media (min-width: @screen-md-min) { }

/* Large devices (large desktops, 1200px and up) */
@media (min-width: @screen-lg-min) { }